@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');

body {
    max-width: 920px;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
}

/*headers */
header {
    text-align: center;
    background-color: #84A59D;
    font-style: "Spectral", serif;
    font-size: 30px;
    color: white;
    padding: 1em;
}

h1 {
    font-size: 25px;
    font-style: "Spectral", serif;
}

h2 {
    font-size: 20px;
    font-style: "Spectral", serif;
    color: white;
    background-color: #84A59D;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

h3 {
    font-size: 18px;
    font-style: "Karla", sans-serif;
}

/* main */
main {
    display: grid;
    grid-template-columns: auto 0;
    grid-gap: 15px;
}
a {
    display: block;
    margin: 0;
}

img {
    width: 60%;
    margin: 0 auto;
}

.proximity{
    text-align: center;
}

.alignment{
    text-align: center;
}

.repetition{
    text-align: center;
}

/* footer */

footer {
    text-align: center;
    background-color: #84A59D;
    padding: 1em;
  }